</br>
<span>Maestro registros</span>
<form>
  codigo: <input id="id" name = "id" ng-model = "captura.item.id" ></input> </br>
  nombre: <input id="nombre" name = "nombre" ng-model = "captura.item.nombre" maximo-caracteres=5  ></input> </br>
  <button ng-click = "captura.actualizar(captura.item)"> actualizar </button>

</form>

<table>
  <tr>
    <th>Codigo</th>
    <th>Nombre</th>
    <th>#</th>
  </tr>
  <tr ng-repeat="fila in captura.filas">
    <td>{{fila.id}}</td>
    <td>{{fila.nombre}}</td>
    <td><button ng-click ="captura.cargar(fila)">Cargar</button></td>
  </tr>
</table>
<button ng-click="captura.ira()">atras</button>
