</br>

<span>Registros</span>

<table>
	<tr>
		<th>Codigo</th>
		<th>Nombre</th>
	</tr>
	<tr ng-repeat="fila in main.filas">

		<td>{{fila.id}}</td>
		<td>{{fila.nombre}}</td>

	</tr>

</table>

<!--<button ng-click="main.cambiar()">Cambiar los valores</button>-->

<button ng-click="main.ira()">Ir al maestro</button>


<!--

Componente input:
id->nombre
name->nombre
ng-model->nombre
----------------------------
Componente Select
Valor por defecto =--Seleccione--
Valores Items quemados=Cargar de un json
id->nombre
name->nombre
ng-model->nombre
----------------------------
Componente Tabla y Botones
id->nombre
----------------------------
ControllerAs
alias-


Eventos
EventosOnclick=onclickNombre
EventoBlur=onBlurNombre
EventoChange=onChangeNombre
EventoKeypress=onKeypressNombre
----------------------------





-->
